<!DOCTYPE html>
<html lang="en">
<head>
	<title>Florea Blooms </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="World supplier of cut flowers,  kenya">
    <meta name="keywords" content="flowers, cut flowers, florea, blooms, carnation, mums, chrysanthemums, horticulture, bouguets, JKIA, NAIROBI, kenya">
    <link rel="icon" href="./static/img/scepter_logo_1.png">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive_topnav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Social media styling -->
	<style>
		.fa {
			padding: 20px;
			font-size: 30px;
			width: 30px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px;
			border-radius: 0%;
		}
	
		.fa:hover {
			opacity: 0.7;
		}
	
		.fa-facebook {
			background: #3B5998;
			color: white;
		}
	
		.fa-instagram {
			background: #125688;
			color: white;
		}
	</style>
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#">+254 792 188324</a>
			<a href="#">floreabloms@gmail.com</a>
			<a href="#" class="instagram_cont fa fa-instagram" target="_blank"></a>
			<a href="#" class="facebook_cont fa fa-facebook" target="_blank"></a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="index.html"> <img src="../static/img/logos/florea_logo10.png"></a>
			</div>
			<div corporate-name>
				<h4>Florea Blooms</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html" class="active">Home</a>
				<a href="./about.html">About</a>
				<a href="./products.html">Products</a>
				<a href="./contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="about-main">
		<section id="about-main-section">
			<div class="farms about-intro">
				<h1>About Us</h1>
				<p>
					Florea  Blooms is a supplier of cut flower across the world.
					We are located at JKIA, Nairobi, Kenya. We deal in a variety of plants: standard roses, spray roses, Crysanthemums, Gypsophila, Rosemary, Eucalyptus among others.
				</p>
			</div>
			
		</section>
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="https://twitter.com/floreabloomske/" target="_blank">Instagram</a>
				<a href="https://www.facebook.com/floreabloomske/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Florea Blooms<br>
				JKIA, Nairobi Kenya,<br>
				floreabloms@gmail.com <br>
				+254 792 188 324 &nbsp; || &nbsp; +254 726 876 947<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				Copy Right &copy 2024. All Rights Reserved.
			</p>

		</div>
	</footer>


	<script src="../static/js/main.js"></script>

</body>
</html>