<!DOCTYPE html>
<html lang="en">
<head>
	<title>Florea Blooms </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="World supplier of cut flowers,  kenya">
    <meta name="keywords" content="flowers, cut flowers, florea, blooms, carnation, mums, chrysanthemums, horticulture, bouguets, JKIA, NAIROBI, kenya">
    <link rel="icon" href="./static/img/scepter_logo_1.png">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive_topnav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#">+254 723 461740 / +254 726 266090</a>
			<a href="#">floreabloms@gmail.com</a>
			<a href="#" target="_blank">Instagram</a>
			<a href="#" target="_blank">Facebook</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="index.html"> <img src="../static/img/logos/florea_logo10.png"></a>
			</div>
			<div corporate-name>
				<h4>Florea Blooms</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html" class="active">Home</a>
				<a href="./about.html">About</a>
				<a href="./products.html">Products</a>
				<a href="./contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="about-main">
		<section id="about-main-section">
			<div class="farms about-intro">
				<h1>About Us</h1>
				<p>
					Florea  Blooms is a supplier of cut flower across the world.
					We are located at JKIA, Nairobi, Kenya. We deal in a variety of plants: standard roses, spray roses, Crysanthemums, Gypsophila, Rosemary, Eucalyptus among others.
				</p>
			</div>
			
		</section>
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="https://twitter.com/floreabloomske/" target="_blank">Instagram</a>
				<a href="https://www.facebook.com/floreabloomske/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Florea Blooms<br>
				JKIA, Nairobi Kenya,<br>
				floreabloms@gmail.com <br>>
				
				+254723461740 &nbsp;|&nbsp; +254723461740<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				Copy Right &copy 2024. All Rights Reserved.
			</p>

		</div>
	</footer>


	<script src="../static/js/main.js"></script>

</body>
</html>