<!DOCTYPE html>
<html lang="en">
<head>
	<title>Florea Blooms </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="World supplier of cut flowers,  kenya">
    <meta name="keywords" content="flowers, cut flowers, florea, blooms, carnation, mums, chrysanthemums, horticulture, bouguets, JKIA, NAIROBI, kenya">
    <link rel="icon" href="./static/img/scepter_logo_1.png">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive_topnav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/products.css">
</head>
<body>

	<!--start header-->
	<header id="header">
		<div class="container-support">
			
			<a href="#" target="_blank">Instagram</a>
			<a href="#" target="_blank">Facebook</a>
			
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="index.html"> <img src="../static/img/florea_logo.png"></a>
			</div>
			<div corporate-name>
				<h4>Florea Blooms</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html" class="active">Home</a>
				<a href="./about.html">About</a>
				<a href="./products.html">Products</a>
				<a href="./contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<!--end header-->

	<!--start main-->
	<main id="product-main">
		<h1>Our Products</h1>
		<div id="btn-container">
			<button class="btn active" onclick="filterSelection('all')"> Show All</button>
			<button class="btn" onclick="filterSelection('standard-roses')"> Standard Roses</button>
			<button class="btn" onclick="filterSelection('spray-roses')"> Spray Roses</button>
			<button class="btn" onclick="filterSelection('crysanthemums')"> Crysanthemums</button>
			<button class="btn" onclick="filterSelection('gypsophila')"> Gypsophila</button>
			<button class="btn" onclick="filterSelection('rosemary')"> Rosemary</button>
			<button class="btn" onclick="filterSelection('eucalyptus')"> Eucalyptus</button>
			<button class="btn" onclick="filterSelection('other-plants')"> Other Plants</button>
		</div>
		<div id="products-container">
			<div class="content-container standard-roses">
				<img src="../static/img/products/red_lion.jpg">
				<h2>Red Lion</h2>
				<p>
					Colour: Red </br>
					Length: 60-90 cm </br>
					Vase Life: 12-14 days </br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/salimia.jpg">
				<h2>Salimia</h2>
				<p>
					Length: 60-90 cm <br>
					Vase Life: 10-12 days <br>
					Colour: Bi-colour pink/white <br>
				</p>
			</div>	
			<div class="content-container standard-roses">
				<img src="../static/img/products/ocean_song.jpg">
				<h2>Ocean Song</h2>
				<p>
					Colour: Purple </br>
					Length: 60-90 cm </br>
					Vase Life: 12-14 days </br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/news_flash.jpg">
				<h2>News Flash</h2>
				<p>
					Colour: Bi-colour </br>
					Length: 50-70 cm </br>
					Vase Life: 12-14 days </br>
				</p>
			</div>	
			<div class="content-container standard-roses">
				<img src="../static/img/products/upper_class.jpg">
				<h2>Upper Class</h2>
				<p>
					Colour: Red <br>
					Length: 50-80 cm <br>
					Vase Life: 15+ days <br>
				</p>
			</div>	
			<div class="content-container standard-roses">
				<img src="../static/img/products/adalonia.jpg">
				<h2>Adalonia</h2>
				<p>
					Length:		60-90 cm  <br>
					Bud size: 	3 x 2.5 cm <br>
					Vase life: 	15+ days <br>
					Colour: 	White <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/adamma.jpg">
				<h2>Adamma</h2>
				<p>
					Length:	50-80 cm <br>
					Vase life: 	12 - 14 days <br>
					Colour: 	Cerise <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/ice_breaker.jpg">
				<h2>Ice-breaker</h2>
				<p>
					Length:	50-80 cm <br>
					Vase life: 	14 -16 days <br>
					Colour: 	White <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/isadora.jpg">
				<h2>Isadora</h2>
				<p>
					Length:	50-80 cm <br>
					Vase life: 	14 -16 days <br>
					Colour: 	White <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/madam_red.jpg">
				<h2>Madam Red</h2>
				<p>
					Length:	60-80 cm <br>
					Vase life: 	15+ days <br>
					Colour: 	Red <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/pompidou.jpg">
				<h2>Pompidou</h2>
				<p>
					Length:	60-90 cm <br>
					Vase life: 	10-12 days <br>
					Colour: 	Cerise <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/red_torch.jpg">
				<h2>Red Torch</h2>
				<p>
					Length: 50-80 cm <br>
					Vase life: 15+ days <br>
					Colour: Red <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/amina.jpg">
				<h2>Amina</h2>
				<p>
					Color: Orange <br>
					Length: 50-80 cm <br>
					Vase life: 15+ days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/confidential.jpg">
				<h2>Confidential</h2>
				<p>
					Color: Orange <br>	
					Length: 60-80 cm <br>
					Vase life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/confidential_gold.jpg">
				<h2>Confidential Gold</h2>
				<p>
					Colour: Yellow <br>
					Length: 50-80 cm  <br>
					Vase life: 12-14 days <br> 
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/revival.jpg">
				<h2>Revival</h2>
				<p>
					Length: 50-80 cm
					Vase life: 12-14 days
					Colour: Pink
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/sanaa.jpg">
				<h2>Sanaa</h2>
				<p>
					Length: 50-80 cm <br>
					Colour: Cerise <br>
					Vase life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/sankara.jpg">
				<h2>Sankara</h2>
				<p>
					Length: 50-80 cm <br>
					Vase life: 15+ days <br>
					Colour: Pink <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/alba.png">
				<h2>Alba</h2>
				<p>
					Colour: 	White <br>
					Vase life:  15+ days <br>
					Length:   60cm - 80cm <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/casual.jpg">
				<h2>Casual</h2>
				<p>
					Color: Pink <br>
					Vase life: 12-14 days <br>
					Length: 50-80 cm <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/cely.jpg">
				<h2>Cely</h2>
				<p>
					Color: Pink <br>
					Length:  50cm - 80cm <br>
					Vase life: 15+ days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/devoted.jpg">
				<h2>Devoted</h2>
				<p>
					Length: 	50–80 cm <br>
					Vase life: 	10-12 days <br>
					Colour: 	Orange <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/felicia.jpg">
				<h2>Felicia</h2>
				<p>
					Colour: Bicolor	 <br>	
					Length:  50cm - 80cm <br>
					Vase life: 12 - 14 days  <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/lovely_peach.jpg">
				<h2>Lovely Peach</h2>
				<p>
					Length: 50-70 cm <br>
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/high_and_magic_orange.jpg">
				<h2>High & Magic</h2>
				<p>
					Length:  50cm - 80cm <br>
					Vase life: 12 - 14 days<br>
					Color: Bicolor Yellow/Orange<br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/high_and_tender.jpg">
				<h2>High & Tender</h2>
				<p>
					Colour:  Pink <br>
					Length: 50cm to 80cm <br>
					Vaselife: 15 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/jumilia.jpg">
				<h2>Jumilia</h2>
				<p>
					Colour: Bicolor pink/white <br>
					Length: 50-80 cm <br>
					Vase life: 15+ days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/lavie.jpg">
				<h2>La Vie</h2>
				<p>
					Length: 50-70 cm <br>
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/pink_spring.jpg">
				<h2>Pink Spring</h2>
				<p>
					Colour: Pink
					Length: 50-80 cm
					Vase Life: 12-14 days
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/madam_cerise.jpg">
				<h2>Madam Cerise</h2>
				<p>
					Length: 50-80 cm <br>
					Vase Life: 15+ days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/mi_fresa.jpg">
				<h2>Mi-Fresa</h2>
				<p>
					Color: Bicolor <br>
					Length: 50cm - 80cm <br>
					Vase life: 12 - 14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/new_orleans.jpg">
				<h2>New Orleans</h2>
				<p>
					Colour: Lavender<br>
					Length:  50cm - 80cm <br>
					Vase life: 15+ days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/madison.jpg">
				<h2>Madison</h2>
				<p>
					Length: 50-80cm <br>
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/memphis.jpg">
				<h2>Memphis</h2>
				<p>
					Length: 50-70 cm <br>
					Vase life: 12-14 days <br>
					Colour: Bicolor pink/cream <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/royal_yellow.jpg">
				<h2>Royal Yellow</h2>
				<p>
					Length: 40-70 cm <br>
					Vase life: 10-12 days <br>
					Color: Yellow <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/snow_white.jpg">
				<h2>Snow White</h2>
				<p>
					Colour: White <br>
					Length: 50-80 cm <br>
					Vase Life: 15+ days <br>
				</p>
			</div>

			<div class="content-container standard-roses">
				<img src="../static/img/products/sweet_jumilia.jpg">
				<h2>Sweet Jumilia</h2>
				<p>
					Length: 40-70 cm <br>
					Vase Life: 15+ days <br>
					Colour: Bi-colour; white/pink <br>
				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/titanic.jpg">
				<h2>Titanic</h2>
				<p>
					Colour: Pink <br>
					Length: 60-90 cm <br>
					Vase Life: 8-10 days <br>

				</p>
			</div>
			<div class="content-container standard-roses">
				<img src="../static/img/products/wham.png">
				<h2>Wham</h2>
				<p>
					Colour: Pink  <br>
					Length: 50-80 cm  <br>
					Vase Life: 15+ days <br>

				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/high_and_sparkling.jpg">
				<h2>High and Sparkling</h2>
				<p>
					Colour: Orange <br>
					Length: 40-60 cm <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/yellow_babe.jpg">
				<h2>Yellow Babe</h2>
				<p>
					Colour: Yellow <br>
					Length: 70-100 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/sweet_sara.jpg">
				<h2>Sweet Sara</h2>
				<p>
					Colour: Peach <br>
					Length: 50-70 cm <br>
					Vase Life: 12-14 days <br>

				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/snow_flake.jpg">
				<h2>Snow Flake</h2>
				<p>
					Colour: White <br>
					Length: 50-70 cm <br>
					Vase Life: 10-12 days <br>

				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/rubicon.jpg">
				<h2>Rubicon</h2>
				<p>
					Colour: Red<br>
					Length: 60-80 cm<br>
					Vase Life: 10-12 days<br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/prana.jpg">
				<h2>Prana</h2>
				<p>
					Colour: Peach <br>
					Length: 50-80 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/odilia.jpg">
				<h2>Odilia</h2>
				<p>
					Colour: Pink <br>
					Length: 50-70 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/fire_works.jpg">
				<h2>Fire Works</h2>
				<p>
					Colour: Bi-colour Red/White <br>
					Length: 50-80 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/babe.jpg">
				<h2>Babe</h2>
				<p>
					Colour: Orange <br>
					Length: 50-90 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/marisa.jpg">
				<h2>Marisa</h2>
				<p>
					Colour: Yellow <br>
					Length: 50-70 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/mirabel.jpg">
				<h2>Mirabel</h2>
				<p>
					Colour: Red <br>
					Length: 60-90 cm <br>
					Vase Life: 10-12 days <br>
				</p>
			</div>
			<div class="content-container spray-roses">
				<img src="../static/img/products/liane.jpg">
				<h2>Liane</h2>
				<p>
					Colour: Pink <br>
					Length: 50-70 cm <br>
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/amani.jpg">
				<h2>Amani</h2>
				<p>
					Colour: Green <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/baroness_1.jpg">
				<h2>Baroness</h2>
				<p>
					Colour: Red <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/galaxy.jpg">
				<h2>Galaxy</h2>
				<p>
					Colour: White <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/US117.jpg">
				<h2>US 117</h2>
				<p>
					Colour: White <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/lovely_pink.jpg">
				<h2>Lovely Pink</h2>
				<p>
					Colour: Pink <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/cheers.jpg">
				<h2>Cheers</h2>
				<p>
					Colour: Bicolour <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/maisy.jpg">
				<h2>Maisy</h2>
				<p>
					Colour: White <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/royal_purple.jpg">
				<h2>Royal Purple</h2>
				<p>
					Colour: Purple <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container crysanthemums">
				<img src="../static/img/products/queen_soraya.jpg">
				<h2>Queen Soraya</h2>
				<p>
					Colour: Yellow <br>
					
					Vase Life: 21 days <br>
				</p>
			</div>
			<div class="content-container eucalyptus">
				<img src="../static/img/products/baby_blue.jpg">
				<h2>Baby Blue - Eucalyptus</h2>
				<p>
					Colour: Blue <br>
					
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container gypsophila">
				<img src="../static/img/products/gypsophila.jpg">
				<h2>Gypsophila</h2>
				<p>
					Colour: White <br>
					
					Vase Life: 12-14 days <br>
				</p>
			</div>
			<div class="content-container gypsophila">
				<img src="../static/img/products/rosemary.jpg">
				<h2>Rosemary</h2>
				<p>
					Colour: Green <br>
					
					Vase Life: 12-14 days <br>
				</p>
			</div>

		</div>

		<div id="products-page-bottom">
			
		</div>
	</main>
	<!--end main-->

	<!--start footer-->
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				
				<a href="https://instagram.com/floreablooms" target="_blank">Instagram</a>
				<a href="https://www.facebook.com/floreabloomske/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Florea Blooms<br>
				JKIA, Nairobi Kenya,<br>
				floreabloms@gmail.com <br>
				
				+254723461740 &nbsp;|&nbsp; +254723461740<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				Copy Right &copy 2024. All Rights Reserved.
			</p>

		</div>
	</footer>


	<script src="../static/js/main.js"></script>
	<script src="../static/js/products.js"></script>

</body>
</html>